.header {
  margin-bottom: 40px;


  &__inner {
    @include flex(row, center, space-between);
    padding: 0;
    // width: 100%;
    // width: 1272px;
  }

  &-logo {
    cursor: pointer;
  }

  &-nav {
    width: 440px;

    &__items {
      @include flex(row, center, space-between);
      list-style: none;

      .header-nav__item-link {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }
}

.active{
    width: 59px;
    padding: 8px;
    border-bottom: 1px solid #fff;
}
